name: medfi_app
description: MEDFI Emergency Ambulance App
publish_to: 'none'

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  firebase_core: ^2.24.2
  firebase_auth: ^4.17.8
  cloud_firestore: ^4.15.8
  geolocator: ^10.1.0
  google_maps_flutter: ^2.6.1
  google_sign_in: ^6.2.1

flutter:
  uses-material-design: true

  assets:
    - assets/images/
